export const description = 'Get the current weather for `city_name`'

// For jsonschema in TypeScript, see: https://github.com/YousefED/typescript-json-schema
export type Argument = {
  /**
   * The name of the city to be queried
   */
  city_name: string;
}

async function getWeather(city_name: string) {
  let temperature = Math.floor(Math.random() * 41)
  console.log(`get weather for ${city_name} with temperature ${temperature}°C`)
  return { city_name, temperature }
}

export async function handler(args: Argument) {
  const result = await getWeather(args.city_name)
  return result
}
