package main

import (
	"fmt"
	"strings"
)

// Handler will handle the raw data
func Handler(data []byte) (uint32, []byte) {
	fmt.Printf("sfn received %d bytes\n", len(data))
	output := strings.ToUpper(string(data))
	return 0x34, []byte(output)
}

func DataTags() []uint32 {
	return []uint32{0x33}
}
