
// Serverless main function
func main() {
	cli, err := yomo.NewStreamFn(yomo.WithName("{{.Name}}")).Connect("{{.Host}}", {{.Port}})
	if err != nil {
		stdlog.Print("Connect to YoMo-Zipper failure: ", err)
		return
	}

	defer cli.Close()
	cli.Pipe(Handler)
}
