
// Serverless main function
func main() {
	sfn := yomo.NewStreamFunction("{{.Name}}", yomo.WithZipperAddr("{{.Host}}:{{.Port}}"))
	defer sfn.Close()

	// set observe DataIDs
	sfn.SetObserveDataID(DataID()...)

	// create a Rx runtime.
	rt := rx.NewRuntime(sfn)

	// set handler
	sfn.SetHandler(rt.RawByteHandler)

	// start
	err := sfn.Connect()
	if err != nil {
		stdlog.Print("[flow] connect err=%v", err)
	}

	// pipe rx stream and rx handler.
	rt.Pipe(Handler)

	select {}
}
