// tinygo required main function
func main() {
	guest.DataTags = DataTags
	guest.Handler = Handler
	{{if .WithInitFunc}}guest.Init = Init{{end}}
	{{if .WithWantedTarget}}guest.WantedTarget = WantedTarget{{end}}
}
