package main

import (
	"reflect"
	"testing"

	"github.com/yomorun/yomo/serverless/mock"
)

func TestHandler(t *testing.T) {
	tests := []struct {
		name string
		ctx  *mock.MockContext
		// want is the expected result that be written by ctx.WriteLLMResult()
		want string
	}{
		{
			name: "get weather",
			ctx:  mock.NewArgumentsContext(`{"city":"New York","latitude":40.7128,"longitude":-74.0060}`, 0x33),
			want: "The current weather in New York (40.712800,-74.006000) is sunny",
		},
		// TODO: add more test cases.
	}
	for _, tt := range tests {
		t.Run(tt.name, func(t *testing.T) {
			Handler(tt.ctx)

			records := tt.ctx.RecordsWritten()
			got := records[0].LLMResult

			if !reflect.DeepEqual(got, tt.want) {
				t.Errorf("TestHandler got: %v, want: %v", got, tt.want)
			}
		})
	}
}
