name: Go

on:
  push:
    branches: [ master, next, gh ]
  pull_request:
    branches: [ master, next, gh ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:

    - uses: actions/checkout@v2
    - name: Set up Go 1.x
      uses: actions/setup-go@v2
      with:
        go-version: 1.15

    - name: Test
      run: go test $(go list ./... | grep -v /example)

    - name: Build
      run: go build $(go list ./... | grep -v /example)
